body {
  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(201, 27%, 31%, 1) 100%);
  color: #fff;
}

#preloader {
  background: var(--bg) url(loader.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

.sourceCode {
  position: relative;
  font-family: Raleway;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: rgb(255,255,255);
  overflow: hidden;
}

.sourceCode svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.sourceCode span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.sourceCode::before,
.sourceCode::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sourceCode::before {
  content: "";
  background: linear-gradient(90deg, hsla(209, 95%, 14%, 1) 0%, hsla(203, 95%, 30%, 1) 50%, hsla(201, 99%, 46%, 1) 100%);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.sourceCode:hover::before {
  transform: translate3d(100%, 0, 0);
}

.sourceCode:active {
  transform: scale(0.95);
}

.logoName {
  margin: 5px 5px;
  font-family: Anta;
  font-size: 1.5em;
  color: rgb(255,255,255);
}

.container {
    width: 90%;
    max-width: 668px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.logocontainer {
    position: relative;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(201, 27%, 31%, 1) 100%);
    border-radius: 50%;
    overflow: hidden;
}

.logocontainer::before {
    content: '';
    position: absolute;
     inset: -10px 0px;
    background: linear-gradient(315deg,#0ef,#d400d4,#ff0a00,#a400ff);
    transition: 0.5s;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logocontainer::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(201, 27%, 31%, 1) 100%);
    inset: 3px;
    border-radius: 50%;
    z-index: 1;
}

.logo {
    position: absolute;
    inset: 15px;
    border: 1.5px solid rgb(0, 27, 41);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.name, .about {
  font-family: Raleway;
  padding: 0;
  margin: 0;
}

.name {
  margin-top: 10px;
  margin-bottom: 5px;
}

.about {
  margin-bottom: 15px;
}

.tiles {
    width: 100%;
    background: linear-gradient(0deg, hsla(209, 87%, 9%, 1) 0%, hsla(201, 96%, 19%, 1) 100%);
    border-radius: 18px;
    color: #fff;
    font-family: Anta;
    margin: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #023E5E;
}

.tiles:hover {
  font-size: 1.1em;
} 

.link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  padding-left: 15px;
}

.social {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.copy {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  padding-right: 15px;
}


footer {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-size: 0.75em;
}

footer a {
  text-decoration: none;
  color: #0ef;
}
